{% extends 'base.html' %}
{%load static%}
{% block title %}explorehome{% endblock %}
{% block body %}
<!--theoryhome start-->
<br><br><br>
<div class="container">
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/java.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Java</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/pythonicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Python</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/springicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Spring</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>


</div><br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/springbooticon.png'%}" width="50" height="50" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">SpringBoot</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
      <img src="{%static 'img/djicon.png'%}" height="50" width="50" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Django</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
      <img src="{%static 'img/djresticon.png'%}" height="50" width="50" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Django Rest</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>
<br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
      <img src="{%static 'img/hibernateicon.png'%}" height="50" width="90" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Hibernate</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/oracleicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">UI Technologies</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/oracleicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Oracle</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>
<br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/linuxicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Linux</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/mavenicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Maven</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
        <img src="{%static 'img/log4jicon.png'%}" height="50" width="50" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Log4J</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>
<br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/gcpicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">GCP</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/awsicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">AWS</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/azureicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Azure</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>
<br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
    <img src="{%static 'img/dockericon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Docker</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/kubernetesicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Kubernetes</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/ansibleicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Ansible</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>
<br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/ansibleicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Chef</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
        <img src="{%static 'img/giticon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Git&GitHub</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
      <img src="{%static 'img/jenkinsicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Jenkins</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>
<br>
<div class="row">
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
        <img src="{%static 'img/terraformicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Terraform</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>

</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
       <img src="{%static 'img/dbmsicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">DBMS</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
<div class="col">
 <div class="card" style="width: 18rem;">
   <div class="text-center">
     <img src="{%static 'img/cnicon.png'%}" alt="">
   </div>
   <div class="card-body">
     <div class="text-center card-footer">
         <h5 class="card-title font1">Computer Networks</h5>
     </div><br>
     <a href="#" class="font1 textcolor" style="text-decoration: none;">explore</a>
   </div>
 </div>
</div>
</div>


</div>
   <br><br><br>
  <!--theoryhome end-->

{% endblock %}
