{% extends 'base.html' %}
{% block title %}FAQs{% endblock %}
{% block body %}
<!--faqs start-->
<br><br>
<div class="container">
  <div class="card">
  <h5 class="card-header font1">I am unable to access the Course, what should I do?</h5>
  <div class="card-body">
  <p class="card-text font1"> Please check whether you are using the same email or not, which was used for purchasing/using the access code. Check for the course in your My Course section. If the course is still not available, please send us a Whatsapp message or drop an email to lohith58malasaniii@gmail.com</p>
  </div>
  </div><br>
  <div class="card">
  <h5 class="card-header font1">How to report website related issue?</h5>
  <div class="card-body">
  <p class="card-text font1">For any issues, please drop an email to lohith58malasaniii@gmail.com with the complete details.</p>
  </div>
  </div><br>
  <div class="card">
  <h5 class="card-header font1">I have issues with Login, what should I do?</h5>
  <div class="card-body">
  <p class="card-text font1">You can click on Forgot Password link to reset your password from the login screen. We will send the new password to your registered email address. Try to login with the new password.</p>
  </div>
  </div><br>
  <div class="card">
  <h5 class="card-header font1">How to create an account?</h5>
  <div class="card-body">
  <p class="card-text font1">You need to create an account before taking a course. Click on Menu icon present on the top left of the Store Screen. From the opened menu,Click on Sign Up. Enter your Email Id & Password to register for an account.</p>
  </div>
  </div><br>
  <div class="card">
  <h5 class="card-header font1">How to take a Course?</h5>
  <div class="card-body">
  <p class="card-text font1">After you have purchased the Course or used the access code of the course, the course would be added to your My Course Section. Click on the Course image to start the course.</p>
  </div>
  </div><br>
  <div class="card">
  <h5 class="card-header font1">Do you offer refunds?</h5>
  <div class="card-body">
  <p class="card-text font1">We don't offer any refund currently because the courses are digital , once you purchased can not be returned.</p>
  </div>
  </div><br>
  <div class="card">
  <h5 class="card-header font1">What if I have doubts during the lecture?</h5>
  <div class="card-body">
  <p class="card-text font1">Each video lecture has discussion box for that particular lecture related doubts. You can commit your doubts there and Instructor will answer them within as early as possible .</p>
  </div>
  </div><br>
</div>

   <!--faqs end-->





{% endblock %}
