{% extends 'base.html' %}
{% block title %}refundpolicy{% endblock %}
{% block body %}

<!--refund start-->
<br><br><br>
    <div class="container">
        <h3 class="heading font1 underline" style="text-align: left;">Refund/Return policy</h3><br>
        <h5><strong class="font1">Note:-No Refunds</strong></h5><br>
        <p class="font1">Thank you for buying a course with us .Students who purchased a training course occasionally change their mind for one reason or another .We want to make sure that our customers do not face any kind of problems.</p><br>
        <p class="font1">We are not offering any refund currently in fidobi .Courses are digital ,once you purchased a course can not be returned .Inspite of that we are going to provide assistance if you face any kind of issues related to the course content, we are ready to help u in all possible ways .</p>
        <p class="font1">Please contact our team for any queries .</p>
    </div>
    <br><br><br><br><br><br>
   <!--refund end-->




{% endblock %}
